@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.nome</h1>
    <p>ao Sistema de Cadastro de Tarefas</p>
    <spam>Seu email é: @Model.email</spam>
</div>
